body {
    background-color: midnightblue;
}

* {
    Box-sizing: border-box;
}

/* Buscador */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 2%;
}

.imagen-logo{
    width: 20%;
    height: 50%;
}

/* Logotipo */
.imagen-logo img{
    display: flex;
    width: 20%;
}

/* menu de navegacion */
.menu-nav ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}
.menu-nav li{
    list-style: none;
    text-align: center;
    margin-right: 5%;
}

.menu-nav a{
    color: white;
    text-decoration-line: none;
}

.pie-pagina{
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: flex-end;
    padding: 50% 0;
    text-align: center;
}





